ion-content.regis-bckgrnd{

    --background:url("src/assets/image/regis_blur.jpg") no-repeat center fixed;
    ion-card {
        position: top;
        text-align: center;
        margin-top: 10px;
        background: transparent;
      }
}


