<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title style="font-weight: bold;">
      <h5>Log In</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card style="width:100%;align-content: left;">
      <div class="noblurr">
        <p style="color: white;">Email</p>
        <ion-input placeholder="Enter your email here" type="email" required style="color: white;"></ion-input>
        <p style="color: white;">Password</p>
        <ion-input placeholder="Enter your password here" type="password" required style="color: white;"></ion-input>
        <ion-button type="submit" color="danger" [routerLink]="['/messages']" expand="block"
          style="padding-left: 30px;padding-right: 30px;margin-top: 20px;">Sign In</ion-button><br>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>

      </div>
    </ion-card>
  </div>

</ion-content>