<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title style="font-weight: bold;padding-left:5px;"><h5>CashCrow</h5></ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/registration']" expand="block" color="primary" style="padding-left: 30px;padding-right: 30px;margin-top: 15px;">Register</ion-button>
  
          <span class="divider line one-line">or</span>
  
          <span class="already">Already a user?</span>
  
          <ion-button [routerLink]="['/login']" expand="block" color="primary" style="padding-left: 30px;padding-right: 30px;margin-top: 15px;">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<!-- <ion-content>
  <ion-list>
    <ion-item  *ngFor="let recipe of recipes" [routerLink]="['./', recipe.id]">
      <ion-avatar slot="start">
          <ion-img [src]="recipe.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{recipe.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
