ion-content.CartbackgroundScreen{
  
    // --ion-background-image:url("../../assets/image/login.jpg");
    --background:url("src/assets/image/regis_blur.jpg") no-repeat center center fixed;
    // position: absolute;
    // --background-repeat:no-repeat;
     --background-size: cover;
    // -webkit-background-size:cover;

}

.ion-label {
    color: white;
}