<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/investment_660_083017023050.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <h2 style="text-align: center">Thanks!!</h2>
            <h3 style="text-align: center">Cash Crow team welcomes you</h3>
          </ion-col>
        </ion-row>      
    </ion-grid>
</ion-content>
