<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Trade Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="MessagebackgroundScreen">
<ion-card class="topcard">CALLS WILL APPEAR HERE :-</ion-card>
 <ion-card class="bottomcard"> {{this.data}}
  <!-- <div class="ion-padding">
    
    <ngx-datatable   
      class="material"
      [limit]="3" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="20" 
      [footerHeight]="20" onload="gotdata()"> {}    
      
    </ngx-datatable>

  </div>  -->
  </ion-card>
  
    <ion-grid> 
        <ion-button class="buttonclass" (click)="Refresh();">
         Refresh
        </ion-button>   
    </ion-grid> 
</ion-content>
