<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="backgroundScreen">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="2">
        <div>
          <ion-card style="background:transparent">
            <ion-list background="transparent">
              <ion-item style="text-align: left;" *ngIf="this.counter===1;else inputtext">
                <ion-label floating color="primary">Name :-</ion-label>

                <ion-input color="primary" [value]="this.profname" [readonly]="true"></ion-input>
              </ion-item>
              
              <ng-template #inputtext >
                <ion-item>
                <ion-label  color="primary" >Name :-</ion-label>
                <ion-input  color="primary" [(ngModel)]="username" name="name"></ion-input>
                </ion-item>
              </ng-template>
            



              <ion-item>
                <ion-label color="primary">Email :- </ion-label>
                <ion-input color="primary" placeholder="{{email}}" disabled>
                </ion-input>
              </ion-item>


              <ion-item *ngIf="this.counter==1;else inputbutton">
                <ion-label  color="primary">Mobile :-&nbsp;</ion-label>
                <ion-input color="primary" [value]="this.profmob" [readonly]="true"></ion-input>
              </ion-item>
              
                <ng-template #inputbutton>
                  <ion-item>
                   <ion-label floating color="primary">Mobile :-&nbsp;</ion-label>
                  <ion-input color="primary" [(ngModel)]="mobile" name="mobile" pattern="^[0-9]{10}$"></ion-input>
                </ion-item>
                </ng-template>
              
            </ion-list>

          </ion-card>
          <div style="text-align: center; margin: 15px;" *ngIf="this.counter==1;else signupbutton">
            
            <ion-button (click)="Refresh()">Refresh </ion-button>
            <ion-button [routerLink]="['/messages']">Cancel</ion-button>
          </div>
          <ng-template #signupbutton>
            <ion-button  style="text-align: center; margin: 15px;"(click)="update()">Update </ion-button>
            <ion-button [routerLink]="['/messages']">Cancel</ion-button>
          </ng-template>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="2">
        <div>
          <ion-card style="background:transparent">
            <ion-list background="transparent">
              <ion-item style="text-align: left;">
                <p style="color:blue;">Contact us at <a href="mailto:support@cashcrow.in"
                    style="color: turquoise;">support@cashcrow.in</a> for changing your details.</p>

              </ion-item>
            </ion-list>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>