<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Password Reset</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content background-color="white">
    <form #ResetForm="ngForm" (ngSubmit)="resetPassword(ResetForm)">
    <!-- <div style="height: 100%; display: flex; align-items: center; ">
      <ion-card style="width:100%;align-content: left;background: transparent;">
       <ion-item color="transparent;">
         <ion-label color="light" position="floating" >Email Id</ion-label>
         <ion-input type="email"></ion-input>
       </ion-item> -->
       <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
          <!-- <div style="height: 100%; display: flex; align-items: center; justify-content: center;"> -->
              <!-- <ion-card style="width:100%;align-content: left;background: transparent;"> -->
                    <ion-item color="transparent;">
                       <ion-label position="floating" >Email</ion-label>
                       <ion-input type="email" ngModel name ="resetemail" required #AuthEmailCtrl="ngModel"></ion-input>
                    </ion-item>
              <!-- </ion-card> -->
               <!-- </div> -->
               <!-- <div > -->
                <small style="padding-top: 5px;">
                Please provide email linked with your account
              </small>
            <!-- </div> -->
          </ion-col>
        </ion-row>
             <ion-row>
                 <ion-col size-sm="6" offset-sm="3">
                     <ion-button type="submit" color="primary"  (click)="resetPassword(ResetForm);" expand="full" style="padding-left: 30px;padding-right: 30px;margin-top: 20px;">Send</ion-button>
                 </ion-col>
               </ion-row>
               
            
        
              </ion-grid>
      
    <!-- </ion-card>
    </div> -->
  </form>
  </ion-content>