<ion-content>
    <div class="center logoImg">
        <img src="./assets/image/Logo.png" style="width:80%; " />
    </div>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h2> Welcome To Cash Crow</h2>
        </ion-slide>
        <ion-slide>
            <h2>Share Marketing </h2>
        </ion-slide>
        <ion-slide>
            <h2>Grow Money</h2>
        </ion-slide>
    </ion-slides>
    <ion-button expand="block" color="danger" (click)="navigateToLoginpage();">Start</ion-button>
</ion-content>
