ion-slide{
    padding:30px 24px;
    display:block;
    h2{
        font-size:24px;
        font-weight:bold;
    }

}
.logoImg{
    padding-top:80px;
    text-align: center;
    
}

ion-content{
    --ion-background-color:black;
}
