ion-content{
    --ion-background-color:white;
}

ion-list {
    --ion-background-color: transparent !important;
    
    }

ion-content.backgroundScreen{
  
    // --ion-background-image:url("../../assets/image/login.jpg");
    --background:url("../../assets/image/setting-blurr.jpg") no-repeat center center fixed;
    // position: absolute;
    // --background-repeat:no-repeat;
     --background-size: cover;
    // -webkit-background-size:cover;    
}